*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "inter", sans-serif;
}

body{
    background-color:#000000;
}

footer{
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
}

#nav{
    background-color: #000000;
    position: sticky;
    top: 0;
    left: 0;
}

#logo a{
    margin-left: 15px;
}

.navbar-toggler-icon{
    color: #fff;
}

#nav-list a{
    color: #fff;
    font-size: 1.5em;
    margin-left: 50px;
}

#search-button button{
    color: #5cdb95;
    border:solid 1px #5cdb95;
    margin-right: 15px;
    transition: all 0.5s ease;
}

#search-button button:hover{
    background-color: #5cdb95;
    color:black
}

.nav-item a{
    transition: all ease 0.25s;
    border-radius: 15px;
}

.nav-item a:hover{
    background-color: #5cdb95;
    padding: 5px;
    color: black
}


nav div a img{
    width: 40%; 
}

#nosotros{
    border-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nosotros-text{
    color: #fff;
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    margin-bottom: 40px;
}

nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

h2{
    color: #fff;
    text-align: center;
    line-height: 4em;
    font-size: 2.5em;
}

h1{
    color: #fff;
    text-align: center;
    line-height: 4em;
    font-size: 2.8em;
}

.novedades{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.novedades figure{
    width: 30%;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.50s ease;
}

.novedades figure:hover{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    .basic-black{
        color: rgba(255, 253, 253, 0.502);
    }
}

.novedades figure img{
    margin-top: 20px;
}

.novedades figure img{
    width: 70%;
}

.basic-black{
    color: #fff;
    margin-top: 20px;
    transition: all 0.50s ease;
}

figcaption{
    color: #fff;
    font-weight: 1000;
    font-size: 1.3em;
}

.button{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    transition: all 0.50s ease;
}

.button:hover{
    padding: 5px 20px;
    background: #fff;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
}

.redes svg{
    width: 100px;
    height: 50px;
    color: #fff;
    transition: all 0.25s ease;
}

.logo-whatsapp:hover{
       color: #5cdb95;  
}

.logo-instagram:hover{
    color:rgb(229, 12, 171);
}

.logo-mail:hover{
    color: rgb(241, 241, 82);;
}

.terminos-condiciones a{
    color: #fff;
    margin-right: 100px;
}

#tienda{
    display: flex;
    align-items: center;
    justify-content: center;
}




