*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Bruno Ace SC', cursive;
}

body{
    background-color:#000000;
}

footer{
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.2);
}

footer a{
    text-decoration: none;
}

#nav{
    background-color: #000000;
    position: sticky;
    top: 0;
    left: 0;
}

#logo a{
    margin-left: 15px;
}

.navbar-toggler-icon{
    color: #fff;
}

#nav-list a{
    color: #fff;
    font-size: 1.5em;
    margin-left: 50px;
}

#search-button button{
    color: #5cdb95;
    border:solid 1px #5cdb95;
    margin-right: 15px;
    transition: all 0.5s ease;
}

#search-button button:hover{
    background-color: #5cdb95;
    color:black
}

.nav-item a{
    transition: all ease 0.25s;
    border-radius: 15px;
}

.nav-item a:hover{
    background-color: #5cdb95;
    padding: 5px;
    color: black
}


nav div a img{
    width: 40%; 
}

#nosotros{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nosotros-text{
    color: #fff;
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    margin-bottom: 40px;
}

nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 4;
}

h2{
    color: #fff;
    text-align: center;
    line-height: 4em;
    font-size: 2.5em;
}

h1{
    color: #fff;
    text-align: center;
    line-height: 4em;
    font-size: 2.8em;
}

.novedades{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.novedades figure{
    width: 30%;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.50s ease;
}

.novedades figure:hover{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    .basic-black{
        color: rgba(255, 253, 253, 0.502);
    }
}

.novedades figure img{
    margin-top: 20px;
}

.novedades figure img{
    width: 70%;
}

.basic-black{
    color: #fff;
    margin-top: 20px;
    transition: all 0.50s ease;
}

figcaption{
    color: #fff;
    font-weight: 1000;
    font-size: 1.3em;
}

.button{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    transition: all 0.50s ease;
}

.button:hover{
    padding: 5px 20px;
    background: #fff;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
}

.redes svg{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    transition: all 0.25s ease;
}

.redes-nosotros svg{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    transition: all 0.25s ease;
}

.logo-whatsapp:hover{
       color: #5cdb95;  
}

.logo-instagram:hover{
    color:rgb(229, 12, 171);
}

.logo-mail:hover{
    color: rgb(241, 241, 82);;
}

.terminos-condiciones-nosotros a{
    color: #fff;
    margin-right: 100px;
}
.terminos-condiciones a{
    color: #fff;
    margin-right: 100px;
}

.terminos-condiciones{
    margin-top: 50px;
}

.terminos-condiciones-nosotros{
    margin-top: 50px;
}

h4{
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info{
    color: white;
    display: block;
    list-style-type: disc;
    margin-left: 350px;
    margin-bottom: 70px;
}

#container-search{
    position: relative;
}

.input-search{
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
    margin-left: 700px;
    margin-bottom: 30px;
}

.btn-search{
    background-color: #5cdb95;
    padding: 10px 15px;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 45%;
    color: #000000;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-search:hover{
    background-color:#278551
}

.contact{
    background: #000000;
    color: #fff;
    padding: 0 1.5em;

}

.container-contact{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-bottom: 50px;

}

.contact-title{
    font-size: 3em;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background: #222222;
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #d63031;
    outline: none;
    color: #fff;
}

.contact-form form button{
    background: #b70e21;
    border:0;
    padding: 1em;
    text-transform: uppercase;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: 1s ease;
    outline: 0;
}

.contact-info{
    background: #000000;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

.contact-info li{
    padding: .3em;
}




#logo-contacto {
    margin-left: 15px;
    margin-top: 50px;
}

@media (min-width: 700px){

    #logo-contacto{
        margin-left: 555px;
    }
    .contact{
        padding: 0 4rem;
    }

    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .contact-wrapper > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
}


