*{
    padding: 0;
    margin: 0;
    font-family: 'Bruno Ace SC', cursive;
    box-sizing: border-box;

}

.imagen-presentacion{
   
    width: 100%;

}

.logo{

    height: 100px;
    margin-left: 106px;
    margin-bottom: 20px;
    margin-top: 20px;
}

main{
    margin-top: -5px;
    background-color: #0F6292;
    border: solid 5px black;
}

footer{
    background-color: #9BA4B5;
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a{
     text-decoration: none;
}

.nosotros{
    background-color: #0F6292;
    text-align: center;
    margin-top: 0;
    padding: 50px;
    color: white;
    border: black groove 20px;
}

p{
    text-align: center;
    margin: 70px;
    margin-top: 40px;
}

  nav{
    padding: 6px 30px;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9BA4B5;
}

nav ul{
   list-style: none;
   display: flex;
}

nav ul li a{

    text-decoration: none;
    color: black;
    margin: 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}


.novedades{
    margin-top: 40px;
    margin-left: 106px;   
    color: white;
    font-size: 2em;
    
}


.redes{
    width: 70px;
}

.productos{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.productos figure{
    width: 30%;
    border: solid 2px black;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9BA4B5;
}

.productos figure figcaption{
    color: black;
    font-size: 1.4em;
}

.productos figure p{
    text-align: center;
}

.productos figure button{
    border: none;
    background-color:black;
    padding: 6px;
    color:white;
    border-radius: 4px;
    margin: 10px 0;
}

.productos figure img{
    border: solid 2px black;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


.input-nombre{
    border: groove blue 5px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.email{
    margin-right: 20px;
}

.input-email{
    border: groove blue 5px;
    margin-bottom: 10px;
}

.telefono{
    margin-left: 4.8px;
}

.input-tel{
    margin-right: 8px;
    border: groove blue 5px;
    margin-bottom: 10px;
}

.mensaje{
    margin-left: 78px;
}

.input-msj{
    border: groove blue 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.cancelar{
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(234, 78, 78);
}

.enviar{
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(117, 243, 117);
}

.contacto-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 30px;
}

.buscar-carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.buscar-carrito button{
    margin-left: 10px;
    background-color: #9BA4B5;
    color: black;
    padding: 6px;
    border: none;
    border-radius: 3px;
}


.buscar :hover{
    color:white;
}

.carrito :hover{
    color: white;
}

.tienda{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px repeat(3,300px);
    grid-template-areas: 
    "buscar-carrito buscar-carrito buscar-carrito"
    "filtros prod1 prod1"
    "filtros prod2 prod2"
    "filtros prod3 prod3"
    "filtros prod4 prod4"
    "filtros prod5 prod5"
    "filtros prod6 prod6";
    
}

.tienda .buscar-carrito{
    grid-area: buscar-carrito;
}

.tienda .filtros{
    grid-area: filtros;
    background-color: #9BA4B5;
    margin: 10px;
    border: solid 8px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.tienda .prod1{
    grid-area: prod1;
    background-color: #9BA4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 8px black;
}

.tienda .prod2{
    grid-area: prod2;
    background-color: #9BA4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 8px black;
}

.tienda .prod3{
    grid-area: prod3;
    background-color: #9BA4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 8px black;
}

.tienda .prod4{
    grid-area: prod4;
    background-color: #9BA4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 8px black;
}

.tienda .prod5{
    grid-area: prod5;
    background-color: #9BA4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 8px black;
}

.tienda .prod6{
   grid-area: prod6;
   background-color: #9BA4B5;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border: solid 8px black;
}

.img-prod1{
    height: 100%;
    width: 44%;
}

.img-prod2{
width: 44%;
height: 100%;   
}

.img-prod3{
  width: 44%;
  height: 100%;
}

.img-prod4{
  width: 20%;
  height: 100%;
}

.img-prod5{
    width: 20%;
    height: 100%;
  }

  .img-prod6{
    width: 20%;
    height: 100%;
  }

.text-prod{
    text-align: center;
}

@media(width < 768px){
   nav{
    flex-direction: column;
   }

   figure{
    

   }

   .productos{
    flex-direction: column;
    width: 100%;
   }
}